div{
    cursor: pointer;
    position: relative;
}
div:hover{
    opacity: .8;
}
#kreis{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: lightgreen;
    margin:10px;
}
.viereck{
    width: 150px;
    height: 150px;
    background-color: red;
    margin: 10px;
}
.bluesquare{
    background-color: aqua;
}
.geysquare{
    background-image: linear-gradient(#dd0303,#f78800,#f7e600,#007c25,#004bf7)
}